body {
    background-color: #00b5e2;
}

#plot1 {
   
    padding-left: 0;
    padding-right: 0;

    margin-left: 0%;
    margin-right: 0%;
   
    width: 100%;

    border:3px solid #d3d3d3;
}


       

#block_container {

    
    justify-content: center;

}

h1 {
    font-size: 40pt;
    font-family: arial;
    color: black;
    text-align: center;
}

h2 {
    font-size: 30pt;
    font-family: arial;
    color: black;
    text-align: center;
}
h3 {
    font-size: 30pt;
    font-family: arial;
    color: black;
    margin-left: 10px;
    display: inline-block;
}

.styled {
border: 0;
line-height: 2.5;
padding: 0 20px;
font-size: 1rem;
text-align: center;
color: #fff;
text-shadow: 1px 1px 1px #000;
border-radius: 10px;
background-color: rgba(220, 0, 0, 1);
background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

li {
color:black;
font-size:30px;
margin-left: 15%;
}

.input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: rgba(200, 0, 0, .2);
  border: 3px solid ;
  border-radius: 8px;
}





